<h1>Orders</h1>

<%= link_to 'New Order', new_order_path %>

<hr/>

<ul>
  <% orders.each do |order| %>
    <li>
      <%= "#{order.id} | #{order.order_number} | #{order.created_at}" %>
    </li>
  <% end %>
</ul>
